{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/components/header.css'%}">
{% endblock %}

<header class="header">
    {% if user.is_authenticated %}
        <div class="header__logged-as">
            Logged as {{ user.first_name }} {{ user.last_name }}
        </div>
    {% endif %}
    <div class="header__title">
        Amalie
    </div>
    <div class="header__auth">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="light-button light-button__logout">Log out</a>
        {% else %}
            <a href="{% url 'login' %}" class="light-button">Log in</a>
            <a href="{% url 'register' %}" class="dark-button dark-button__register">Register</a>
        {% endif %}
    </div>
</header>


