<div class="sidebar">
    <div class="sidebar__item-list">
        <a href="{% url 'dashboard' %}" class="sidebar__item">
            <i class="fas fa-home fa-3x mb-2"></i>
            <br>
            Home
        </a>
        <a href="{% url 'query' %}" class="sidebar__item">
            <i class="fas fa-database fa-3x mb-2"></i>
            <br>
            Query
        </a>
        <a href="{% url 'maintenance_sensor' %}" class="sidebar__item">
            <i class="fas fa-tools fa-3x mb-2"></i>
            <br>
            Maintenance
        </a>
        <a href="{% url 'users' %}" class="sidebar__item">
            <i class="fas fa-user-cog fa-3x mb-2"></i>
            <br>
            Users control
        </a>
        <a href="{% url 'admin_page' %}" class="sidebar__item">
            <i class="fas fa-user-lock fa-3x mb-2"></i>
            <br>
            Admin
        </a>
    </div>
</div>
