<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 230px;">
    <a href="{% url 'dashboard' %}" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <h5 class="text-center mt-2 ml-3" style="color: #2a5d68;">Dashboard</h5>
    </a>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="{% url 'sensors_dashboard' %}" class="nav-link">
              Sensors
          </a>
        </li>
        <li>
          <a href="{% url 'data_dashboard' %}" class="nav-link">
            Data quality
          </a>
        </li>
        <li>
          <a href="{% url 'history_dashboard' %}" class="nav-link">
            History
          </a>
        </li>
        <li>
          <a href="{% url 'admin_page' %}" class="nav-link">
            Admin
          </a>
        </li>
    </ul>
</div>
