web/static
web/amalie_remaster/static
web/amalie_remaster/.env
trashbin
amalie_venv
python_scripts_1/.env
python_scripts_1/Cleverfarm/.env
python_scripts_1/Database/.env
python_scripts_1/Ekotechnika/.env
python_scripts_1/EmsBrno/.env
python_scripts_1/Tomst/.env
python_scripts_1/Vrty/.env
python_scripts_1/Database/Backups