web/static
web/amalie_remaster/static
web/amalie_remaster/.env
trashbin
amalie_venv
python_scripts/.env
python_scripts/Cleverfarm/.env
python_scripts/Database/.env
python_scripts/Ekotechnika/.env
python_scripts/EmsBrno/.env
python_scripts/Tomst/.env
python_scripts/Vrty/.env
