<div class="table-query">
    <table class="table-query__parent">
        <thead class="table-query__head">
        <tr>
            <td>sensor_id</td>
            <td>date</td>
            <td>time</td>
            <td>value</td>
            <td>signal</td>
            <td>variable_id</td>
        </tr>
        </thead>
        <tbody class="table-query__body">
        {% for row in data %}
            <tr>
                <td>{{ row.sensor_id }}</td>
                <td>{{ row.date|date:'Y-m-d' }}</td>
                <td>{{ row.time|date:'H:i' }}</td>
                <td>{{ row.value }}</td>
                <td>{{ row.signal }}</td>
                <td>{{ row.variable_id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<form method="post" action="/query/save/" class="query-save ">
    {% csrf_token %}
    <div class="dropdown">
        <button class="dropdown__button" type="button" onclick="openDropdown('query-save-dropdown')">Export selected data as...</button>
        <div class="dropdown__content" id="query-save-dropdown">
            <button type="submit" name="save_format" value="csv" class="dropdown__item" onclick="closeDropdown('query-save-dropdown')" onfocusout="closeDropdown('query-save-dropdown')">CSV</button>
            <button type="submit" name="save_format" value="json" class="dropdown__item" onclick="closeDropdown('query-save-dropdown')" onfocusout="closeDropdown('query-save-dropdown')">JSON</button>
        </div>
    </div>
</form>


<div class="plot-query-nav">
    <a href="#" class="plot-query-nav__tab">Tab</a>
</div>
<div class="plot-query" id="myChart">
    <script>
        g = new Dygraph(
            document.getElementById('myChart'),
            [
                {% for row in plot_data %}
                    [
                        {% for col in row %}
                            {% if forloop.first %}
                                new Date('{{col}}'),
                            {% else %}
                                {{ col }},
                            {% endif %}
                        {% endfor %}
                    ],
                {% endfor %}
            ]
            ,
            {
                legend: 'always',
                animatedZooms: true,
                title: '{{ selected }}',
                labels: [{% for l in plot_labels %}'{{ l }}',{% endfor %}]


            },

        )
    </script>


</div>

