<form action="/maintenance/update_actions" method="post" class="admin-form">
    {% csrf_token %}
    <p class="admin-form__title">Admin maintenance form</p>
    <div class="dropdown mb-3">
        <button class="dropdown__button" id="actions_button">Select an action to remove...</button>
        <div class="dropdown__content">
            {% for action in actions %}
                <button type="submit" name="to_remove" class="dropdown__item" value="{{ action.value }}">{{ action.label }}</button>
            {% endfor %}
        </div>
    </div>

    <div class="admin-form__row">
        <input class="admin-form__input mb-0" type="text" name="to_add" placeholder="Type in an action to add...">
        <button type="submit" class="dark-button">Add</button>
    </div>
</form>