{% extends "dashboard/global.html" %}

{% load static %}
{% load tag_library %}

{% block title %}
    Maintenance
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/components/maintenance_forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/dropdowns.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}

{% block dashboard-content %}
    <div class="maintenance">
        <form action="." method="post" class="sensor-form">
            {% csrf_token %}
            <div class="dropdown w-50">
                {% if request.session.sensor %}
                    {% for sensor in sensors %}
                        {% if sensor.id == request.session.sensor|to_int_json %}
                            <button class="dropdown__button dropdown__button--selected">{{ sensor.sensor_name }}</button>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <button class="dropdown__button">Select a sensor to maintain...</button>
                {% endif %}
                <div class="dropdown__content">
                    {% for sensor in sensors %}
                        <button name="sensor" id="sensor" value="{{ sensor.id }}" class="dropdown__item">{{ sensor.sensor_name }}</button>
                    {% endfor %}

                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $('#sensor').change(function () {
                        $(this).closest('form').submit();
                    });
                })
            </script>
        </form>

        {% include 'dashboard/maintenance/maintenance_form.html' with actions=actions%}

        {% include 'dashboard/maintenance/condition_form.html' %}

        {% if user.is_technician %}
            {% include 'dashboard/maintenance/maintenance_admin.html' %}
        {% endif %}
    </div>
{% endblock %}