{% extends 'dashboard/global.html' %}

{% load static %}
{% load plotly_dash %}
{% load bootstrap4 %}

{% block dashboard-content %}
    <div class="container">
    <div class="row">
        <form action="." method="post" class="row g-3 mb-5">
            {% csrf_token %}
            {{ select_sensor }}

            <button type="submit" class="btn custom-button-static" name="select_sensor">SELECT</button>
        </form>
    </div>
    {% if data %}
        {% for row in data %}
            <h1 class="text-center mt-5" style="color: #2a5d68;">{{ row.sensor_name }}</h1>
        {% endfor %}
        <div class="row">
            <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <td>id</td>
                            <td>sensor_name</td>
                            <td>serial number</td>
                            <td>x</td>
                            <td>y</td>
                            <td>elevation</td>
                            <td>price</td>
                            <td>connection_id</td>
                            <td>sensor_type_id</td>
                            <td>note</td>
                            <td>spatial_precision</td>
                            <td>warranty</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                            <tr>
                                <td>{{ row.id }}</td>
                                <td>{{ row.sensor_name }}</td>
                                <td>{{ row.serial_number }}</td>
                                <td>{{ row.x }}</td>
                                <td>{{ row.y }}</td>
                                <td>{{ row.elevation }}</td>
                                <td>{{ row.price }}</td>
                                <td>{{ row.connection_id }}</td>
                                <td>{{ row.sensor_type_id }}</td>
                                <td>{{ row.note }}</td>
                                <td>{{ row.spatial_precision }}</td>
                                <td>{{ row.warranty }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
            <!---*<p class="pl-0 mt-2" style="color: #2a5d68; font-weight: bold"> Update last calibration date</p>
            % plotly_app name='Calibration_form' ratio=0.4 %--->
        </div>
        <div class="row mt-0">
            <p class="text-center mt-5" style="color: #2a5d68; font-weight: bold">Maintenance form</p>
            <div class="col">
                {% plotly_app name='Maintenance_form' ratio=0.5 %}
            </div>
        </div>
    {% endif %}
    </div>



{% endblock %}

