{% extends 'dashboard/global.html' %}


{% block dashboard-content %}
    <div class="container">
    <div class="row">
        <form action="." method="post" class="row g-3 mb-5">
            {% csrf_token %}
            {{ select_sensor }}

            <button type="submit" class="btn btn-primary">SELECT</button>
        </form>
    </div>
    {% if data %}
        {% for row in data %}
            <h1>{{ row.sensor_name }}</h1>
        {% endfor %}
        <div class="row">
            <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <td>id</td>
                            <td>sensor_id</td>
                            <td>sensor_name</td>
                            <td>company</td>
                            <td>measured_quantity</td>
                            <td>geometry</td>
                            <td>calibration_interval</td>
                            <td>calibrated_on</td>
                            <td>units</td>
                            <td>limit_min</td>
                            <td>limit_max</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                            <tr>
                                <td>{{ row.id }}</td>
                                <td>{{ row.sensor_id }}</td>
                                <td>{{ row.sensor_name }}</td>
                                <td>{{ row.company }}</td>
                                <td>{{ row.measured_quantity }}</td>
                                <td>{{ row.geometry }}</td>
                                <td>{{ row.calibration_interval }}</td>
                                <td>{{ row.calibrated_on }}</td>
                                <td>{{ row.units }}</td>
                                <td>{{ row.limit_min }}</td>
                                <td>{{ row.limit_max }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
            {{ calibration }}
        </div>
    {% endif %}
    </div>

{% endblock %}