{% extends 'dashboard/global.html' %}

{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/components/home_forms.css'%}">
    <link rel="stylesheet" href="{% static 'css/breakpoints.css' %}">
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-base.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>
{% endblock %}

{% block dashboard-content %}
    <div class="home">
        <div class="home-nav">
            {% for com in companies %}
                <input class="home-nav__option" value="{{ com }}" onclick="setWindow(this.id)" id="tab-{{ com }}" type="button">
            {% endfor %}
        </div>
        <div class="home-main__intro" id="intro">
            <p>Select a company <i class="fas fa-level-up-alt"></i></p>
        </div>
        {% for com in companies %}
            <div class="home-main" id="{{ com }}">
            {% include 'dashboard/home/charts.html' with com=com %}
            {% include 'dashboard/home/tables.html' with com=com data=data head=head info_tables=info_tables%}
            </div>
        {% endfor %}

        <script>
            let tabs = document.getElementsByClassName("home-main")
            for (i = 0; i < tabs.length; i++) {
                tabs[i].style.display = "none";
            }
            function setWindow(id) {
                let intro = document.getElementById('intro')
                intro.style.display = "none"

                let options = document.getElementsByClassName("home-nav__option")
                for (i = 0; i < options.length; i++) {
                    options[i].classList.remove('home-nav__option--clicked');
                }

                let tabs = document.getElementsByClassName("home-main")
                for (i = 0; i < tabs.length; i++) {
                    tabs[i].style.display = "none";
                }

                let clicked = document.getElementById(id)
                let win = document.getElementById(`${clicked.value}`)

                win.style.display = 'grid'

                clicked.classList.add('home-nav__option--clicked')
            }
        </script>
    </div>
{% endblock %}
